<template>
	<lightning-card>
		<lightning-layout multiple-rows>
			<lightning-layout-item padding="around-small" size="12" small-device-size="12" medium-device-size="12">
	 			<div class="slds-grid slds-grid_vertical-align-center slds-grid_align-spread">
					<div class="slds-col">
						<div class="slds-list_inline slds-p-bottom_xx-small">
							<lightning-combobox name="obj" label="Object's" value={ObjectValue}
								placeholder="Select Object" options={GetObjectoptions} onchange={ObjectChanges}>
							</lightning-combobox>
						</div>
					</div>
				</div>
			</lightning-layout-item>
		</lightning-layout> 
	</lightning-card>
	<template if:true={checkCall}>
		<div class="slds-m-top_x-medium slds-p-around_medium">
			<c-cmp columns={columns} records={records} page-size=50></c-cmp>
		</div>
	</template>
	<template if:true={Spinner}>
		<lightning-spinner alternative-text="Loading"></lightning-spinner>
	</template>
</template>