@media all and (max-width: 700px) {
     .THIS.caseFieldLeft {
          padding: 2px 4px 2px 2px;
          width: 100%;
          float: none;
          flex-direction: column;
     }
     .THIS.caseFieldRight {
          padding: 2px 4px 2px 2px;
          width: 100%;
          float: none;
          flex-direction: column;
     }
}