<template>
     <lightning-card>
          <lightning-layout multiple-rows>
               <lightning-layout-item padding="around-small" size="12" small-device-size="12" medium-device-size="12">
                    <div class="caseFieldRight caseFieldLeft slds-grid slds-grid_vertical-align-center slds-grid_align-spread">

                         <div class="slds-col">
                              <div class="slds-list_inline slds-p-bottom_xx-small">
                                   <lightning-combobox name="obj" label="Object's" value={ObjectValue}
                                        placeholder="Select Object" options={GetObjectoptions} onchange={ObjectChanges}>
                                   </lightning-combobox>
                              </div>
                         </div>
                         <div class="slds-col slds-grid slds-float_right slds-p-top_x-large" style="height:5rem">
                              <div class="slds-col">
                                   <lightning-button disabled={bDisableFirst} icon-name="utility:chevronleft"
                                   label="Previous" alternative-text="Previous" onclick={previousPage}>
                                   </lightning-button>
                              </div>
                              <div class="slds-col">
                                   <span class="slds-badge">Showing {pageNumber} &nbsp;of&nbsp; {totalPages}
                                        &nbsp;&nbsp;Page(s)</span>
                              </div>
                              <div class="slds-col">
                                   <lightning-button disabled={bDisableLast} icon-name="utility:chevronright" label="Next"
                                   alternative-text="Next" onclick={nextPage} class="slds-p-horizontal_x-small"
                                   icon-position="right">
                                   </lightning-button>
                              </div>
                         </div>
                         <div class="slds-col slds-clearfix">
                              <div class="slds-float_right slds-p-top_medium">
                                   <span class="slds-badge"> Total Records :&nbsp; {sizeOfRecords} </span>
                              </div>
                         </div>
                    </div>
               </lightning-layout-item>
               <lightning-layout-item padding="around-small" size="12" small-device-size="12" medium-device-size="12">
                    <div class="custom-box slds-box slds-p-around_medium slds-text-align_center">
                         <template if:true={showDataTable}>
                              <div style="min-height: 100px; height:auto">
                                   <lightning-datatable key-field="id" data={recordsToDisplay} show-row-number-column
                                        row-number-offset={rowOffset} hide-checkbox-column columns={columns}>
                                   </lightning-datatable>
                              </div>
                         </template>
                    </div>
               </lightning-layout-item>
          </lightning-layout>
          <template if:true={Spinner}>
               <lightning-spinner alternative-text="Loading"></lightning-spinner>
          </template>
     </lightning-card>
</template>